n8n-nodes.json
{
  "name": "Parallel Google Sheets Search (Safe Version)",
  "nodes": [
    {
      "parameters": {},
      "id": "Start",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "functionCode": "return [\n  { json: { sheetId: \"SHEET_ID_1\", sheetName: \"Sheet1\" } },\n  { json: { sheetId: \"SHEET_ID_2\", sheetName: \"Sheet2\" } },\n  { json: { sheetId: \"SHEET_ID_3\", sheetName: \"Sheet3\" } }\n];"
      },
      "id": "PrepareSheets",
      "name": "Prepare Sheets",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "batchSize": 3
      },
      "id": "SplitInBatches",
      "name": "Control Parallel",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "sheetId": "={{$json.sheetId}}",
        "range": "={{$json.sheetName}}!A:Z"
      },
      "id": "ReadSheet",
      "name": "Read Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [800, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "__YOUR_CREDENTIAL__",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const sheetName = $json.sheetName;\n\nreturn items\n  .filter(item => {\n    return item.json.status === \"ACTIVE\" && Number(item.json.amount || 0) > 1000000;\n  })\n  .map(item => {\n    item.json.source_sheet = sheetName;\n    return item;\n  });"
      },
      "id": "FilterData",
      "name": "Filter & Enrich",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "Merge",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "functionCode": "const allItems = $input.all();\n\nreturn [\n  {\n    json: {\n      data: allItems.map(i => i.json)\n    }\n  }\n];"
      },
      "id": "Aggregate",
      "name": "Aggregate All",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1400, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Prepare Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheets": {
      "main": [
        [
          {
            "node": "Control Parallel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Control Parallel": {
      "main": [
        [
          {
            "node": "Read Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Sheet": {
      "main": [
        [
          {
            "node": "Filter & Enrich",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Enrich": {
      "main": [
        [
          {
            "node": "Control Parallel",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Aggregate All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
